/****** RESET *********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****** COMMON *********/

body header{
    background-color: #b4d0e7;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
}

.btn-blue{
    font-family: inherit;
    background-color: #0061ff;
    color: white;
    border: 0;
    padding: 17px;
}

.btn-white{
    font-size: 13px;
    font-family: inherit;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 12px;
}

/****** HEADER *********/

/****** HEADER TOPMENU ******/

header .topbar-menu{
    background-color: white;
    right: 0;
    left: 0;
    top: 0;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #d1d9e1;
    position: fixed;
    z-index: 1;
}

header .topbar-menu .topbar-menu-sx-link{
    display: flex;
    gap: 40px;
    padding-left: 20px;
}

header .topbar-menu .topbar-menu-dx-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding-right: 20px;
}

.topbar-menu-sx-link,
.topbar-menu-dx-link{
    font-size: 13px;
    list-style-type: none;
}

.topbar-menu-dx-button{
    padding-right: 20px;
}

.topbar-menu-dx-button button{
    padding: 10px;
}


/****** HEADER JUMBOTRON ******/

header .jumbotron{
    margin: 0 auto;
    padding-top: 80px;
    padding: 0% 360px;
}

header .jumbotron-header{
    padding-top: 100px;
    font-size: 25px;
    
}

header .jumbotron-main{
    display: flex;
    position: relative;
    bottom: -80px;
}

header .jumbotron-main-sx{
    font-size: 18px;
    width: 30%;

}

header .jumbo-arrow{
    font-size: 50px;
}


header .jumbotron-main-dx{
    width: 70%;
}


header .jumbotron-main-dx img{
    width: 100%;
   
}

header .jumbo-btn{
    padding-top: 35px;
    padding-bottom: 35px;
}



/****** MAIN *********/

main{
    background-color: white;
}

/**** SEZIONE: SELETTORE PIANI ABBONAMENTO ****/

main .main-plan-selector{
    padding: 165px 460px;

}

main .plans{
    display: flex;
    gap: 50px;
}

main .plan{
    width: calc((100% - 100px) /3);
    border: 1px solid #d0d0d3;
    padding-bottom: 30px;
}

main .plan-hor{
    margin-top: 50px;
    padding-bottom: 30px;
    border: 1px solid #d0d0d3;
}


main .plan-name-btn button{
    width: 50%;
}

main .plan-name-btn h3{
    width: 50%;
}

main .plan-name-btn{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 30px 0px;
    
}

main .plan-hor-main p{
    padding: 60px 30px 32px;
    font-size: 12px;

}

main .checkbox{
    padding-top: 75px;
    padding-bottom: 55px;
    align-items: center;
    
}

main .checkbox > label{
    padding-left: 5px;
    padding-right: 22px;
}

main .plan .plan-header,
main .plan-hor .plan-hor-header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 15px;
}

main .plan-name-price{
    padding-top: 38px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

main .plan-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 55px 32px 0px 32px;
}

main .plan-btn{
    display: flex;
    flex-direction: column;
    padding: 55px 32px;
}

main .plan-btn > p{
    padding-top: 35px;
}

main .plan-bottom{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 25px;
}

main .plan-bottom i{
    color: #0061ff;
}

main .plan hr{
    width: 20%;
    height: 1px;
    margin-left: 30px;
    background-color: #d0d0d3;
}

/*****  SEZIONE: TROVA UN PARTNER   ********/

main .partner-section{
    display: flex;
    padding: 0px 460px;
}

main .partner-img{
    width: 60%;

}

main .partner-info{
    width: 40%;
    padding: 45px 45px 0px 55px;
}

main .partner-info h3{
    padding-bottom: 25px;
}

main .partner-info p{
    padding-bottom: 35px;
}

main .partner-img img{
    width: 100%;
}

/****** SEZIONE: GRIGLIA OPERAZIONI  *******/

main .operation-grill{
    padding: 175px 460px 0px;
}

main .operation-info{
    padding-right: 50px;
}

main .operation-grill .operation-grill-row{
    display: flex;
}

main .operation-grill img{
    padding-top: 90px;
    width: 100%;
}

main .operation-grill h3{
    padding-bottom: 18px;
   
}

main .nostri-clienti{
    width: 50%;
    padding-top: 200px ;
    padding-left: 460px;
}

 main .nostri-clienti h1{
    padding-bottom: 75px;
 }


/****** SEZIONE: BANNER LOGHI CLIENTI ********/

main .nostri-clienti-loghi{
    width: 100vw;
    height: calc(100vw / 3);
    display: flex;
    padding-top: 100px;
    
}

main .nostri-clienti-loghi-sx,
main .nostri-clienti-loghi-center,
main .nostri-clienti-loghi-dx{
    width: calc(100%/3); 
}

main .nostri-clienti-loghi-center{
    font-size: 12px;
    background-color: #f5f5f5;
    overflow-y: scroll;
}

main .nostri-clienti-loghi-sx-row,
main .nostri-clienti-loghi-dx-row{
    display: flex;
    height: calc(100% / 2);
}


main .nostri-clienti-loghi-sx-1x1,
main .nostri-clienti-loghi-sx-2x1,
main .nostri-clienti-loghi-sx-1x2,
main .nostri-clienti-loghi-sx-2x2,
main .nostri-clienti-loghi-dx-1x1,
main .nostri-clienti-loghi-dx-2x1,
main .nostri-clienti-loghi-dx-1x2,
main .nostri-clienti-loghi-dx-2x2{
    width: calc(100%/2);
    height: 100%;
    position: relative;
}

main .nostri-clienti-loghi-sx-1x1{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

main .nostri-clienti-loghi-sx-2x1{
    background-color: #61082b;
}

main .nostri-clienti-loghi-sx-1x2{
    background-color: #0093ce;
}

main .nostri-clienti-loghi-sx-2x2{
    background-color: #ff1c1c;
}

main .nostri-clienti-loghi-dx-1x1{
    background-color: #d5001f;
}

main .nostri-clienti-loghi-dx-2x1{
    background-color: #b4d0e7;
}

main .nostri-clienti-loghi-dx-1x2{
    background-color: #0d2481;
}


main .nostri-clienti-loghi-dx-2x2{
    background-color: #ffd830;
}


main .nostri-clienti-loghi .nostri-clienti-loghi-dx img,
main .nostri-clienti-loghi .nostri-clienti-loghi-sx img{
    filter: invert();
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .nostri-clienti-loghi .nostri-clienti-loghi-center img{
    padding-top: 50px;
    padding-left: 50px;
}

main .nostri-clienti-loghi .nostri-clienti-loghi-center hr{
    width: 17%;
    height: 1px;
    background-color: #d0d0d3;
    margin: 50px;
}

main .nostri-clienti-loghi .nostri-clienti-loghi-center p{
    padding-bottom: 60px;
    padding-left: 50px;
}

main .bottom{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color:#b4d0e7;
    padding: 130px 0px;
}

main .bottom h1{
    color: #61082b;
}

/****** Sezione FAQ ************/

main .faq-section{
    margin: 0 auto;
}

main .faq-section h1{
    margin-bottom: 70px;
    margin-top: 170px;
}

main .faq-section hr{
    margin: 50px auto;
}

main .questions{
    display: flex;
    gap: 50px;
}

main .question{
    display: flex;
    justify-content: space-around;
}

/****** FOOTER *********/

footer{
    background-color: #000000;
    color: #f5f5f5;
}

footer h4{
    padding-bottom: 20px;
}

footer a{
    text-decoration: none;
}

footer li{
    list-style: none;
    margin: 25px 0px;
}

.footer-columns{
    display: flex;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 110px;
    gap: 100px;
}

footer hr{
    height: 1px;
    width: 75%;
    margin-top: 120px;
    background-color: #ffffff;
}

footer .lang-selector{
    margin-top: 60px;
    color: #999999;
}
 