/****** RESET *********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****** COMMON *********/

body header{
    background-color: #b4d0e7;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1920px;
    display: flex;
}

.btn-blue{
    font-family: inherit;
    background-color: #0061ff;
    color: white;
    border: 0;
    padding: 17px;
}

/****** HEADER *********/

/****** HEADER TOPMENU ******/

header .topbar-menu{
    background-color: white;
    width: 1920px;
    height: 80px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #d1d9e1;
}

header .topbar-menu .topbar-menu-sx{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

header .topbar-menu .topbar-menu-sx .topbar-menu-sx-link{
    display: flex;
    gap: 40px;
    padding-left: 20px;
}

header .topbar-menu .topbar-menu-dx{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

header .topbar-menu .topbar-menu-dx .topbar-menu-dx-link{
    display: flex;
    gap: 40px;
    padding-right: 20px;
}

.topbar-menu-sx-link,
.topbar-menu-dx-link{
    font-size: 13px;
    list-style-type: none;
}

.topbar-menu-dx-button{
    padding-right: 20px;
}

.topbar-menu-dx-button button{
    padding: 10px;
}


/****** HEADER JUMBOTRON ******/

header .jumbotron{
    margin: 0 auto;
    padding: 0px 360px;
}

header .jumbotron-main{
    display: flex;
}

header .jumbotron-header{
    padding-top: 100px;
    font-size: 25px;
    
}

header .jumbotron-main{
    padding-top: 50px;
    
}

header .jumbotron-main-sx{
    
    font-size: 18px;
    width: 30%;

}


header .jumbotron-main-dx{
    width: 70%;
    position: relative;
    bottom: -80px;
}

header .jumbotron-main-dx img{
    width: 100%;
}

header .jumbo-btn{
    padding-top: 35px;
    padding-bottom: 35px;
}


header .jumbo-arrow{
    font-size: 50px;
    padding-top: 80px;
}

/****** MAIN *********/

main{
    background-color: white;
}

main .main-plan-selector{
    padding: 165px 460px;

}

main .plans{
    display: flex;
    gap: 50px;
}

main .plan{
    width: calc((100% - 100px) /3);
    border: 1px solid #d0d0d3;
    padding-bottom: 30px;
}

main .plan-hor{
    margin-top: 50px;
    padding-bottom: 30px;
    border: 1px solid #d0d0d3;
}


main .plan-name-btn button{
    width: 50%;
}

main .plan-name-btn h3{
    width: 50%;
}

main .plan-name-btn{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 30px 0px;
    
}

main .plan-hor-main p{
    padding: 60px 30px 32px;
    font-size: 12px;

}

main .checkbox{
    padding-top: 75px;
    padding-bottom: 55px;
    align-items: center;
    
}

main .checkbox > label{
    padding-left: 5px;
    padding-right: 22px;
}

main .plan .plan-header,
main .plan-hor .plan-hor-header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 15px;
}

main .plan-name-price{
    padding-top: 38px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

main .plan-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 55px 32px 0px 32px;
}

main .plan-btn{
    display: flex;
    flex-direction: column;
    padding: 55px 32px;
}

main .plan-btn > p{
    padding-top: 35px;
}

main .plan-bottom{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 25px;
}

main .plan-bottom i{
    color: #0061ff;
}
/****** FOOTER *********/