/****** RESET *********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****** COMMON *********/

body header{
    font-family: 'Open Sans', sans-serif;
    background-color: #b4d0e7;
}

.container{
    max-width: 1920px;
    display: flex;
}

.btn-blue{
    font-family: inherit;
    background-color: #0061ff;
    color: white;
    border: 0;
    padding: 17px;
}

/****** HEADER *********/

/****** HEADER TOPMENU ******/

header .topbar-menu{
    background-color: white;
    width: 1920px;
    height: 80px;
    align-items: center;
    display: flex;
}

header .topbar-menu .topbar-menu-sx{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

header .topbar-menu .topbar-menu-sx .topbar-menu-sx-link{
    display: flex;
    gap: 40px;
    padding-left: 20px;
}

header .topbar-menu .topbar-menu-dx{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

header .topbar-menu .topbar-menu-dx .topbar-menu-dx-link{
    display: flex;
    gap: 40px;
    padding-right: 20px;
}

.topbar-menu-sx-link,
.topbar-menu-dx-link{
    font-size: 13px;
    list-style-type: none;
}

.topbar-menu-dx-button{
    padding-right: 20px;
}

.topbar-menu-dx-button button{
    padding: 10px;
}


/****** HEADER JUMBOTRON ******/

header .jumbotron{
    margin: 0 auto;
    padding: 0px 360px;
}

header .jumbotron-main{
    display: flex;
}

header .jumbotron-header{
    padding-top: 100px;
    font-size: 25px;
    
}

header .jumbotron-main{
    padding-top: 50px;
    
}

header .jumbotron-main-sx{
    
    font-size: 18px;
    width: 30%;

}


header .jumbotron-main-dx{
    width: 70%;
    position: relative;
}

header .jumbotron-main-dx img{
    position: absolute;
    width: 100%;
}

header .jumbo-btn{
    padding-top: 35px;
    padding-bottom: 35px;
}


header .jumbo-arrow{
    font-size: 50px;
    padding-top: 80px;
}

/****** MAIN *********/

main{
    background-color: white;
}


/****** FOOTER *********/